@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100;1,400&display=swap");
* {
  padding: 0;
  margin: 0; }

main {
  padding: 20px;
  background-color: #FEFFF4; }

article h1 {
  font-family: roboto; }
  article h1 h2 {
    font-family: roboto; }
    article h1 h2 h3 {
      font-family: roboto; }
      article h1 h2 h3 h4 {
        font-family: roboto; }

section p {
  font-size: 1em; }

nav ul {
  display: flex;
  justify-content: space-between; }
  nav ul li {
    list-style: none; }
    nav ul li a {
      color: #ff4902; }
      nav ul li ahover {
        color: rgba(157, 34, 34, 0.8); }

footer {
  font-family: roboto;
  text-align: center;
  color: #a9459a;
  font-size: 1em;
  padding: 1em; }
