// Definimos varialbes globales

*{
	padding: 0;
	margin: 0;
}

//definamos colores

$primary: rgba(255, 73, 2, 1.0);
$secondary:rgba(157, 34, 34,0.8);


//margin padding

$px-1: 1em;
$mx-1: 1em;

//display

$d-flex:flex;



