main{
   padding:20px;
   background-color: #FEFFF4;
}

article{
	h1{ 
		font-family: roboto;
		h2{
			font-family: roboto;
			h3{
				font-family: roboto;
				h4{
					font-family: roboto;
				}

			}
		} 
	} 
}

section{
	p{
		font-size: $textMedium;
	}
}

